html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ffffff;
}
/* Header
    ============================= */

.container {
	background-image: url(images/headphones_hero_1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	height: 800px;
}

.section-header {
	display: flex;
	justify-content: space-between;
	width: 1000.392px;
    height: 32px;
    flex-shrink: 0;
	padding-top: 27.76px;
}

.header {
	display: flex;
	justify-content: center;
}
ul {
	display: flex;
	gap: 41px;
}

li a:active, li a:hover {
	color: #FF6565;
}

.section-banner{
	text-align: center;
}
