html {
	scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: #ffffff;
	cursor: pointer;
	color: inherit;
}

li a:active, li a:hover {
	color: #FF6565;
}

/* Header
    ============================= */

header {
	position: absolute;
    width: 100%;
	top: 0;
	left: 0;
	background-image: url(images/headphones_hero_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.section-header {
	display: flex;
	flex-direction: row;
	margin-top: 27.5px;
}

.header-logo img {
	width: 65%;
	height: 65%
}

header nav {
	display: inherit;
    flex-direction: row-reverse;
    width: 100%;
}

header nav ul {
    display: inherit;
}

header nav li {
	margin-left: 50px;
	font-size: 13.5px;
}

/* section-banner
    ============================= */

section {
    display: inherit;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}

.section-banner {
	display: inherit;
	position: relative;
	justify-content: center;
	color: var(--color-white);
	text-align: center;
	padding: 0;
    text-decoration-color: #ffffff;
}

.section-banner h1 {
	padding-top: 295px;
	margin: 0;
}
.section-banner h4 {
	margin: 0;
	padding-bottom: 55px;
}

.section-banner {
	font-size: 12px;
	text-transform: uppercase;
    text-decoration-color: #ffffff;
}

.section-banner a.banner-btn:hover, .section-banner a.banner-btn:active {
	opacity: 0.9;
}

.section-banner p {
	margin-top: 80px;
	text-align: center;
	margin-bottom: 95px;
	line-height: 2;
	padding: 0 180px;
	font-size: 16px;
}

button  {
    background-color: #FF6565;
    border-radius: 1.5rem;
    padding: 0.5rem;
    border: none;
	text-transform: uppercase;
    text-decoration-color: #ffffff;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.9;
}

.button {
	text-decoration-color: #ffffff;
}